<section class="vegetablepage">
  <div class="search">
    <h1>Search Vegetables</h1>
    <div class="pbm">
      <input ng-model="query" placeholder="Search for vegetables" autofocus>
    </div>
    <label class="formgroup">by: 
      <select ng-model="vegetableOrder">
        <option value="name">common name</option>
        <option value="scientific_name">scientific name</option>
      </select>
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked> ascending
    </label>
    <label class="formgroup">
      <input type="radio"  ng-model="direction" name="direction" value="reverse"> descending
    </label>
  </div>
  <ul class="vegetablelist" ng-show="query">
    <li ng-animate="'animate'" class="vegetable cf" ng-repeat="item in vegetables | filter: query | orderBy: vegetableOrder: direction">
      <a href="#/info/{{ vegetables.indexOf(item) }}">
        <img ng-src="resources/images/{{item.id}}.jpg" alt="Image of {{ item.name }}">
        <div class="info">
          <h2>{{item.name | uppercase}}</h2>
          <h3>{{item.scientific_name}}</h2>
        </div>
      </a>
    </li>
  </ul>
</section>